/* make scrolling smooth */

html{
    scroll-behavior: smooth;
}

/* 
 get rid of padding & sizing on body so
 header is at top
*/

body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* add some padding back to rest of page */

main{
    padding: 1vw;
    
}

/* navbar */

.navbar{
    background-color:#2B2A2A;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-family: "Special Elite";
    height: 120px;
}


/* logo */

.logo{
    display: flex;
    align-items: center;

}

.logo img{
    height: 6vw;
    width: 6vw;
}

.logo  h1{
    font-size: 1.2em;
}
/* navigation list */

.navbar-links ul,li {
    list-style: none;
    display: block;
    padding: 0.5em 0;
}

/*  
 style all a tags in header 
 and then on hover
*/

.navbar-links {
    padding-right: 1rem;
}
.navbar-links a{
    font-size: 1.5rem;
    padding: 0.5rem 1.25rem;
    letter-spacing: 2px;
    border-radius: 10px;
    display: inline-block;
    background-color: black;
}

.navbar-links a:focus,
.navbar-links a:hover{
    filter: invert(1);
    color: #f7f7f7;
}

/*SCROLL PADDING FOR FIXED NAV BAR OFFSET*/
#selfinfo, #bio, #gallery, #lit, #contact{
    scroll-margin-top:120px;
}

/* 
media query for non-mobile nav bar
min-width set to width of nav elements 
such that no text wraps 
*/

@media screen and (min-width:60rem) {
    
    .navbar{
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar ul{
        display: flex;
        justify-content: space-between;
    }

    .navbar-links{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    

    }

    .navbar-links li{
        padding: 0.5em 0.05em;
    } 

    
}

/* Mobile Navbar */

#menuToggle {
	display: block;
	position: absolute;
	top: 50px;
	right: 50px;
	z-index: 1;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -10px;
	right: -20px;
	opacity: 0;
	z-index: 2;
}

#menuToggle span {
	display: block;
	width: 33px;
	height: 4px;
	margin-bottom: 5px;
    position: relative;
    top: 0px;
    left: 10px;
	background: #ffffff;
	border-radius: 3px;
	z-index: 1;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),
	opacity 0.55s ease;
}

#menuToggle span:first-child {
	transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
	transform-origin: 0% 100%;
}

#menuToggle input:checked~span {
	opacity: 1;
	transform: rotate(45deg) translate(-2px, -1px);
	background: #232323;
}

#menuToggle input:checked~span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked~span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(0, -1px);
}

#menu {
	position: absolute;
	width: 300px;
	margin: -100px 0 0 0;
	padding: 50px;
    padding-left: 0px;
	padding-top: 125px;
	right: -100px;
    margin-left: -100px;
	background: #646464dd;
	list-style-type: none;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);

	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

#menu li {
	padding: 10px 0;
	font-size: 22px;
}

#menuToggle input:checked~ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}