/* Header and Footer rules*/
#selfinfo{
    margin-top: 120px;
    margin-left: 8px;
    margin-right: 8px;
}
#selfinfo footer{
    margin: 0.5rem;
}
#selfinfo , footer{
    text-align: center;
    background-color: #2B2A2A;
    border: #bd1000 outset 3px;   
}
#selfinfo img{
    width: 300px;
}
/* Logo */
.logo img{
    padding: 1em;
    max-width:480px;
    
}

/* Bio */
#bio{
    border: #8f0e03 inset 3px;
    margin: 0.5rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

/* Hobbies */
#hobbies{
    border: #bd1000 outset 1px;
    margin: 0.5rem;
    display: flex; 
    flex-direction: column; 
    align-items: center;
}
#hobbies ul, ol{
    font-size: large;
    
}
/* Gallery */
#gallery{
    border: #8f0e03 inset 3px;
    margin: 0.5rem;
    
}

#gallery h2{
    display: flex; 
    flex-direction: column; 
    align-items: center;
}

#gallery img{
    max-width: 100%;
    border: #000 solid 2px;

}

#gallery img:hover{
    box-shadow: 4px 10px 90px 0px rgba(255,0,0,1);
    transition: 0.5s ease-in-out;
}

#gallery figure{
    text-align: center;
    font-size: large;
}

/* Lit*/
#lit{
    border: #bd1000 outset;
    margin: 0.5rem;
}
#lit div{
    padding: 1.5rem;
    max-width: 50rem;
    text-align: center;
    margin: auto;
}
#lit div p:first-letter{
    color: #f5f5f5;
    font-family:"Special Elite";
    float: left;
    font-size: 40pt;
    padding: 0.25em;
    line-height: 0.5px;
    margin-left: 0.5em;
    border: dashed #000000 0.1em;
    border-top: 1em;
    text-shadow: 15px 10px 10px black;
}

@keyframes slide-in {
    from {
      translate: 350vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }
  
#cssAnimation{
    display: flex;
    animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
/*Video Section*/
#video{
    text-align: center;
}


/* General Text Formatting and Stylization*/
body{
    font-family: "Arial";
    background-color: #242323;
    color: #ff584a;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header{
    text-align: center;
}

h1 {
    font-family: "Special Elite";
    font-size: 55pt;
    color: #e91705;
    text-shadow: -2px -2px 0 #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
}

h2, h3, h4, h5, h6{
    font-family: "Special Elite";
    color: #e91705;
    text-shadow: -2px -2px 0 #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
    text-align: center;
}

h2{
    font-size: 40px;
}

p{
    font-family: Pangolin;
    font-size: 16pt;
}

/* Link Stylization */
a:link{
    color: #e91705;  
    text-decoration: none;
}
a:visited{
    color: #e91705;
}
a:hover{
    color: #f0f8ff;
}
a:active{
    color: black;

}

/* Contact Form*/

#formElements{
    display: grid;
}

label{
    padding: 0.35em;
}

fieldset{
    border-color: #e91705;
    font-size: 20px;
    font-family: Pangolin;
    box-shadow: 1px 1px 1px 1px rgba(255,0,0,1)
}
fieldset input, textarea, select, button{
    background-color: #828282;
}
fieldset ul{
    list-style-type: none;
}
/* Submit Button Stylization and Back to Top Button */
button{
    font-family: "Special Elite";
    font-size: 1.5em;
    font-weight: 600;
    color: #8f0e03;
    text-shadow: -2px -2px 0 #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;

}

#button, #go2top{
    max-width: 500px;
    text-decoration:none;
    text-shadow:0px 3px 3px #000000;
    box-shadow: 0px 0px 0px -2px #1c1b18;
    background:linear-gradient(to bottom, #494848 5%, #7a0602 100%);
    background-color:#494848;
    border-radius:23px;
    border:1px solid #000000;
    display:inline-block;
    cursor:pointer;
    margin-top: 0.5em;
    color:#e91705;    
}

#go2top{
    position: fixed;
    bottom: 0px;
    right: 16px;
}

#button:hover,#go2top:hover {
	background:linear-gradient(to bottom, #7a0602 5%, #494848 100%);
	background-color:#7a0602;
    
}
/*tablet size*/
@media screen and (min-width: 60em){
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
        margin-left: 1em;
    }

    figcaption{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-left: 1em;
    }
    #lit div{
        max-width:100%;
        columns:20em;
    }

  
}
/*Laptop Size*/
@media screen and (min-width:100em){
    
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }
    
    #gallery h2{
        grid-column: 1/-1;
    }
    
    figure{
        display: block;
    }    
}    

/* Change Scroll to Top button on mobile */

@media screen and (max-width:60em){
    #go2top{
        display: none;
    }
}