/*ID Manipulation*/

/* Header and Footer rules*/

#selfinfo , footer{
    text-align: center;
    background-color: #2B2A2A;
    border: #bd1000 outset 3px;
    margin: 0.5rem;
}
#selfinfo img{
    width: 300px;
}

/* <main> ---> <section> Stylization */

/* Bio */
#bio{
    border: #8f0e03 inset 3px;
    margin: 0.5rem;
    text-align: ;
}

/* Hobbies */
#hobbies{
    border: #bd1000 outset 1px;
    margin: 0.5rem;
}
#hobbies ul, ol{
    font-size: large;
}
/* Gallery */
#gallery{
    border: #8f0e03 inset 3px;
    margin: 0.5rem;
}

#gallery img{
    max-width: 100%;
    border: #000 solid 2px;

}
#gallery figure{
    text-align: center;
    font-size: large;
}

/* Lit*/
#lit{
    border: #bd1000 outset;
    margin: 0.5rem;
}
#lit h2{
    text-align: center;
}
#lit div{
    padding: 1.5rem;
    max-width: 50rem;
    text-align: center;
    margin: auto;
}
#lit div p:first-letter{
    color: whitesmoke;
    font-family:"Special Elite";
    float: left;
    font-size: 40pt;
    padding: 0.25em;
    line-height: 0.5px;
    margin-left: 0.5em;
    border: dashed black 0.1em;
    border-top: 1em;
    text-shadow: 15px 10px 10px black;
}

/* General Text Formatting and Stylization*/
body{
    font-family: "Arial";
    background-color: #242323;
    color: #8f0e03;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header{
    text-align: center;
}

h1 {
    font-family: "Special Elite";
    font-size: 55pt;
    color: #bd1000;
    text-shadow: -2px -2px 0 #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
}

h2, h3, h4, h5, h6{
    font-family: "Special Elite";
    color: #bd1000;
    text-shadow: -2px -2px 0 #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
}

h2{
    font-size: 40px;
}

p{
    font-family: Pangolin;
    font-size: 16pt;
}

/* Link Stylization */
a:link{
    color: #8f0e03;  
    text-decoration: none;
}
a:visited{
    color: #8f0e03;
}
a:hover{
    color: aliceblue;
}
a:active{
    color: black;

}

