body{
    font-family: "Arial";
    background-color: #242323;
    color: #8f0e03;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

header{
    text-align: center;
    img
}

#selfinfo , footer{
    text-align: center;
    background-color: #2B2A2A;
}
#selfinfo img{
    width: 300px;
}

h1, h2, h3, h4, h5, h6{
    font-family: "Special Elite";
    font-size: 40pt;
    color: #bd1000;
    text-shadow: -2px -2px 0 #000, 2px -2px #000, -2px 2px #000, 2px 2px #000;
}

p{
    font-family: Pangolin;
    font-size: 16pt;
}